.o-vai-aprender{
  background: linear-gradient(102.27deg, #1D192B 25.9%, #292244 83.63%);
}


.separador{
  position: relative;
}


.separador::before{
  position: absolute;
  content: " ";
  background-image: url("../img/Separador.svg");
  width: 210px;
  height: 21px;
  top: 100px;
  left: -60px;
}

.o-vai-aprender p{
  max-width: 80ch;
  
}
.o-vai-aprender{
  position: relative;
  overflow-x: hidden;
}
.o-vai-aprender::after{
  position: absolute;
  content: "";
  background-image: url("../img/forma.png");
  width: 1100px;
  height: 1010px;
  top: -15%;
  left: 70%; 
  mix-blend-mode: lighten; 
  scale: .9;  
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.pra-quem-e{
 display: grid;
 grid-template-columns: 1fr 1fr;
}


.pra-quem-e h2{
  position: relative;
}
 .pra-quem-e h2::after{
  position: absolute;
  content: "";
  background-image: url("../img/Separador.svg");
  width: 210px;
  height: 21px;
 top: 140px;
right: 10px;
  /* left: 460px;  */
  transform: rotateY(180deg);
  overflow: hidden;
}


.pra-quem-e > div > h4{
  color: #E1D9ED;
}
.pra-quem-e > div > h4 {
  border-top: 1px solid #9D9D9F;
  padding-top: 8px;
}
/* .pra-quem-e > div > h4:last-child{
  border-bottom: 1px solid #9D9D9F;
} */
.pra-quem-e > div > img {
  mix-blend-mode: lighten; 
  margin-top: 20%;

}



/* -------------Responsividade-------------- */


@media (max-width: 1300px){
.o-vai-aprender > div {
  margin: 0 20px !important;
}
.separador::before{
  left: 0;
}
.tailor-made > div {
  margin: 0 20px !important;
}
}



@media (max-width: 940px){
  .separador::before{
    top: 125px;
  }
.pra-quem-e{
  grid-template-columns: 1fr;
}
.pra-quem-e img{
  display: none;
}
.pra-quem-e > div > h2{
  padding-top: 140px !important;
}

 .pra-quem-e h2::after{
 top: 220px;
right: 10px;
} 
/* .o-vai-aprender::after{
  display: none;
} */




}
