.dropdown {
  margin-left: 80px;
}


.dropdown .btn {
background-color: #1D192B !important;
border: none;
padding: 0 !important;
}

.dropdown-menu{
  left: -280%;
  top: 40px
}

.dropdown-menu > a{
  text-decoration: none;
  /* color: #474747; */
}

.insc{
  background-color: #ececec !important ;
  color: #833A9B !important;
  transition: all .2s;
}
.insc:hover{
  background-color: #1D192B !important ;
  color: #ececec !important;
}